/* gallery */

figure.fotorama_gallery {}
figure.fotorama_gallery figcaption {
    font-size: larger;
    text-align: center;
}

/* overview */

article.fotorama_overview {}
article.fotorama_overview ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1em auto;
    justify-content: start;
    margin: 1em 0;
    padding-left: 2em;
}
article.fotorama_overview li {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: subgrid;
}
article.fotorama_overview li input[type=checkbox] {
    margin: auto
}
article.fotorama_overview li label {
    margin: auto 1em;
}
article.fotorama_overview .fotorama_controls {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}
article.fotorama_overview fieldset {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.5em;
}
article.fotorama_overview legend {
    padding: 0 0.2em;
}
article.fotorama_overview fieldset label {
    display: block;
}
article.fotorama_overview .fotorama_help {
    font-size: smaller;
}

/* editor */

article.fotorama_editor {}
article.fotorama_editor fieldset {
    padding: 0.5em;
    margin: 1em 0;
}
article.fotorama_editor legend {
    padding: 0 0.2em;
}
article.fotorama_editor .fotorama_controls {
    display: flex;
    justify-content: space-evenly;
}
article.fotorama_editor .fotorama_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
article.fotorama_editor .fotorama_gallery label {
    display: block;
}
article.fotorama_editor .fotorama_images ul {
    list-style: none;
    margin: 1em 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 7em auto auto 5em;
}
article.fotorama_editor .fotorama_images li {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: subgrid;
    align-items: end;
}
article.fotorama_editor .fotorama_thumb {
    max-width: 7em;
    max-height: 7em;
    margin: auto;
}
article.fotorama_editor .fotorama_images span {
    display: block;
}

/* delete confirmation */

article.fotorama_delete {}
article.fotorama_delete .fotorama_controls {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

/* plugin info */

article.fotorama_pluginfo {}
